*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Alata', sans-serif;
    /* background-color: #333; */
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    background-color: rgba(11,11, 11, 0.35);
    z-index: 1;
}


main{
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: white;
    transition: all ease 0.35s;
}
a:hover{
    color: dodgerblue;
}

ul{
    list-style: none;
}
ul.list-inline{
    list-style: none;
    display: inline-flex;
}
ul li{
    margin: 10px;
}

/* classes ordered by appearance */
.container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#nav-bar, .site-intro{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*  */

.site-intro{
    background-image: url('./images/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    width: 100%;
    flex-grow: 1;
}
.site-intro .container{
    /* margin-left: 0; */
    width: 100%;
}
.site-intro-text{
    max-width: 500px;
}
.site-intro-text h1{
    padding: 1rem;
    font-size: 3.75rem;
    letter-spacing: 1px;
    word-wrap: break-word;
    border: 1px solid white;
    text-transform: uppercase;
}

/* -----------feature ---------- */
.site-feature{
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 6fr 4fr;
}
.site-feature-img img{
    width: 100%;
    margin-bottom: 1rem;
}
.site-feature-text{
    position: absolute;
    background-color: white;
    text-align: left;
    width: 50%;
    bottom: 0;
    right: 2rem;
    padding: 4rem;
}

.site-feature h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.site-feature p{
    line-height: 1.5rem;
    color: #666;
}

/* =========== creations ============ */
.site-creations{
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
    text-align: center;
}
.site-creations-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.site-creations-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}
.site-creations h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.site-creation-card{
    position: relative;
    /* margin-bottom: 1.5rem; */
    border-radius: 5px;
}
.site-creation-card img{
    width: 100%;
    border-radius: 5px;
}
.site-creation-card h3{
    position: absolute;
    color: #ffffff;
    bottom: 15px;
    left: 15px;
    text-transform: uppercase;
    word-wrap: break-word;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: left;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(11,11, 11, 0.35);
}

.btn-seeMore{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 4rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
    border: 1px solid black;
    background-color: transparent;
    text-transform: uppercase;
    transition: all ease 0.35s;
    cursor: pointer;
}
.btn-seeMore:hover{
    color: white;
    background-color: black;
}

/* site-video */
.site-video, .site-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.site-video h2{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.site-subscribe .email-subscribe{
    font-size: 1.5rem;
    padding: 0.4rem;
}
.site-subscribe .btn-subscribe{
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
}
/* ------ footer -------- */
footer#footer{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    
}
#footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer-links{
    display: inline-flex;
    margin-top: 1rem;
}
#footer .footer-right-section{
    text-align: right;
}
#footer .footer-left-section{
    text-align: left;
}
.footer-socials{
    margin-bottom: 0.5rem;
}